<div class="container-fluid p-0">
    <div class="row">
    <!-- Navbar -->
    <div class="col-12 px-0" class="borde-ancho">
        <app-navbar></app-navbar>
    </div>
    </div>
    <div class="row m-0">
        <!-- Sidebar -->
        <div class="col-2 p-0 d-flex flex-column vh-100">
        <app-sidebar class="flex-grow-1"></app-sidebar>
    </div>
    <!-- Main Content -->
    
    <div class="col-10 p-0 d-flex">
        <!-- Aquí puedes colocar el contenido principal -->
        <div class="p-4 flex-grow-1" style="background-color: rgba(255, 255, 255, 0.67);">
            <div class="container">
                <div class="container-fluid">

                    <div class="container-fluid">
                        <div class="row title mt-5">
                            <h4>Nueva Cuenta</h4>
                        </div>
                        <div class="row contenido my-3 p-5 rounded-4">
                            <h5>Tipo de Cuenta</h5>
                            <hr>
                            <form action="">
                                <div class="form-group">
                                    <select class="form-select" name="tipo-identificacion" [(ngModel)]="tipoCuenta.codTipoCuenta" (change)="getCuentasId()">
                                        <option value="">Seleccione el Tipo de Cuenta</option>
                                        <option *ngFor="let cuenta of listTipoCuenta" [value]="cuenta.codTipoCuenta">{{ cuenta.nombre }}</option>
                                    </select>
                                    <hr>
                                    <div class="form-group row mt-2">
                                        <label for="participantes" class="col-sm-2 col-form-label">Participantes Maximo: </label>
                                        <div class="col-4">
                                            <input type="number" class="form-control" value={{this.tipoCuenta.maximoNumeroIntervinientes}} readonly>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row contenido my-3 p-5 rounded-4">
                            <h5>Datos de Participes</h5>
                            <hr>
                            <form action="">
                                <div class="form-group">
                                    <select class="form-select" name="tipoIdentificacion" [(ngModel)]="clienteIdentificacion.tipoIdentificacion" (change)="restDatosClientes(); this.clienteIdentificacion.numeroIdentificacion = '';">
                                        <option value="">Tipo de Identificacion</option>
                                        <option value="CED">Cedula</option>
                                        <option value="PAS">Pasaporte</option>
                                        <option value="RUC">RUC</option>
                                    </select>
                                    <div class="row">
                                        <div class="col-10">
                                            <input type="text" class="form-control my-2" name="identificacion" placeholder="No. de identificacion" [(ngModel)]="clienteIdentificacion.numeroIdentificacion" (change)="restDatosClientes();">
                                            <small id="mensajeIdentificacion" class="form-text text-danger" *ngIf="!identFirst && !identValidacion">{{mensajeValidacion}}</small>
                                        </div>
                                        <div class="col-2 d-flex align-items-center justify-content-center">
                                            <button type="button" class="btn btn-success" (click)="getCliente()">Validar</button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">  
                                        <div class="col-11">
                                            <input type="text" class="form-control my-3" name="nombres" placeholder="____" value="{{clienteIdentificacion.apellidos}} {{clienteIdentificacion.nombres}} {{clienteIdentificacion.razonSocial}}" readonly>
                                        </div>                                      
                                        <div class="col-1 text-center d-flex align-items-center">
                                            <a type="button" class="btn btn-dark" (click)="addParticipante()">
                                                <i class="bi bi-plus-lg"></i>
                                            </a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-12 col-md-12 col-sm-12 mt-4">
                                    <div class="col">
                                        <table id="tbParticipante"
                                            class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Tipo</th>
                                                    <th scope="col">Identificacion</th>
                                                    <th scope="col">Nombres</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="px-4 mt-4">
                            <button type="button" class="btn btn-success mx-1" (click)="crearCuenta()">Crear Cuenta</button>
                            <button type="button" class="btn btn-secondary mx-1" (click)="regresar()">Regresar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
