<div class="container-fluid p-0">
  <div class="row">
    <!-- Navbar -->
    <div class="col-12 px-0" class="borde-ancho">
      <app-navbar></app-navbar>
    </div>
  </div>

  <div class="row m-0" style="background-color: #0E3A5D;">
    <!-- Sidebar -->
    <div class="sidebar-container col-3 p-3 d-flex flex-column" style="height: 86.9vh;">
      <app-sidebar class="flex-grow-1"></app-sidebar>
    </div>

    <!-- Main Content -->

    <div class="col-9 p-3 d-flex">

      <!-- Aquí puedes colocar el contenido principal -->
      <div class="p-4 flex-grow-1 rounded" style="background-color: rgba(255, 255, 255, 0.67);">

        <h1 class="ms-5 mt-2" style="color: #0000006e; font-size: 24px; font-weight: bold; padding-left:100px;">
          Depósitos > Depósitos en ventanilla</h1>

        <div class="row contenido my-3 p-5 rounded-4">
          <h5>Información del Depósito</h5>
          <hr>
          <form action="">
            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <div class="col-12  "><b>EMPRESA: </b> {{companyData.companyName}}</div>
                  <div class="col-12  "><b>N. CONTRAPARTIDA: </b>{{contrapartida.counterpart}} </div>
                  <div class="col-12  "><b>CLIENTE: </b> {{contrapartida.debtorName}}</div>
                  <div class="col-12  "><b>C.I/RUC: </b> {{contrapartida.identification}}</div>
                  <div class="col-12  "><b>FECHA VENCIMIENTO: </b> {{order.dueDate}}</div>
                  <div class="col-12  "><b>VALOR ADEUDADO: </b>$ {{contrapartida.owedAmount}}</div>
                  <div class="col-12  "><b>COMISIÓN: </b>$ {{sumaComisiones}}</div>
                  <div class="col-12  "><b>IVA: </b>$ {{iva}}</div>
  
                </div>
                <div class="col-6 mt-5">
                  <div class="col-12  d-flex align-items-center justify-content-center "><b>Monto total a recaudar: </b></div>
                  <div class="col-12  d-flex align-items-center justify-content-center "> $ {{totalCompleto}}</div>


                  <div class="my-2 d-flex align-items-center justify-content-center">
                    <button type="button" class="btn btn-warning  rounded-pill" (click)="procesarPago()" >Procesar</button>
                  </div>
                </div>
              </div>

              
              

            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>