h4, h5{
    color: #000000;
}
.title{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.contenido {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 80%;
}
input[type=text], select{
    background-color: #ECECEC;
}
button {
    float: right;
    width: 150px;
}

.borde-ancho {
    border-bottom: 5px solid #ccc; 
}

.scroll-container {
    width: 83%;
    height: 600px;
    overflow-y: hidden;
    overflow-y: scroll;
  }
  
  .scroll-content {
    width: 100%;
    height: 720px;
  }
  
  .container-fluid.p-0 {
    overflow-x: hidden;
  }