<nav class="navbar navbar-expand-sm shadow-lg" style="overflow-x: hidden">
  <div class="navbar-left">
    <div class="row">
      <div class="col-3 mx-3">
        <img class="rounded  " src="../../../assets/img/logo.png" alt="Logo" />

      </div>
      <div class="col-3 mt-3" style="color: #ffff;">
        BANCO<br>BANQUITO
      </div>
    </div>
    
  </div>
  <div class="navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link mx-2" href="#" style="color: #ffff">Juan Carlos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-5" style="color: #FCBE18;" (click)="logout()"><i class="bi bi-person"></i></a>
      </li>
    </ul>
  </div>
</nav>