<div class="container-fluid p-0">
    <div class="row">
        <!-- Navbar -->
        <div class="col-12 px-0" class="borde-ancho">
            <app-navbar></app-navbar>
        </div>
    </div>
    <div class="row m-0">
        <!-- Sidebar -->
        <div class="col-2 p-0 d-flex flex-column" style="height: 84vh;">
            <app-sidebar class="flex-grow-1"></app-sidebar>
        </div>
        <!-- Main Content -->

        <div class="col-10 p-0 d-flex">
            <!-- Aquí puedes colocar el contenido principal -->
            <div class="p-4 flex-grow-1" style="background-color: rgba(255, 255, 255, 0.67);">
                <div class="container">
                    <div class="container-fluid">
                        <div class="container-fluid">
                            <div class="row contenido my-3 rounded-4 " #contenedor>

                                <div class="col-12 py-3 p-5 card backgroung-card">
                                    <div class="text-center">
                                        <h4 class="lara-light mt-3">BANQUITO</h4>
                                        <br><br>
                                    </div>
                                    <div>
                                        <strong>APELLLIDOS Y NOMBRES:</strong>
                                        {{participePrincipal.apellidos}} {{participePrincipal.nombres}} {{participePrincipal.razonSocial}}
                                        <br>
                                        <strong>IDENTIFICACION:</strong>
                                        {{participePrincipal.numero_identificacion}}
                                        <br>
                                        <strong>N.- CUENTA:</strong>
                                        {{participePrincipal.numeroCuenta}}
                                        <br>
                                        <br>
                                        <strong>Direccion:</strong>
                                        {{participePrincipal.direccion}}
                                        <strong style="margin-left: 30px;">TELF:</strong>
                                        {{participePrincipal.telefono}}
                                        <strong style="margin-left: 30px;">CORREO:</strong>
                                        {{participePrincipal.correo_electronico}}
                                        <br><br>
                                    </div>
                                    <div class="row">

                                        <div class="col-4">
                                            <div>
                                                <strong>FECHA:</strong>
                                                {{credito.fechaCreacion}}
                                                <br><br>
                                            </div>
                                            <div>
                                                <strong>MONTO: </strong>
                                                {{credito.monto}}
                                                <br>
                                                <strong>PLAZO:</strong>
                                                {{credito.plazo}} MESESE
                                                <br>
                                                <strong>TASA INTERES:</strong>
                                                {{credito.tasaInteres}}%
                                                <br><br>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <strong>PARTICIPANTES: </strong><br>
                                            <p *ngFor="let participes of participeSecundario">{{participes.apellidos}} {{participes.nombres}} {{participes.razonSocial}} - {{participes.numero_identificacion}} - {{participes.numeroCuenta}}</p>
                                        </div>
                                    </div>

                                </div>
                                
                                <div class="p-5">
                                    <h5>Tabla de amortizacion</h5>
                                    <hr>
                                    <table class="table table-hover">
                                        <thead class="table-dark">
                                            <tr>
                                                <th scope="col">Periodo</th>
                                                <th scope="col">Fecha Pagos</th>
                                                <th scope="col">Monto Cuota</th>
                                                <th scope="col">Interes</th>
                                                <th scope="col">Capital</th>
                                                <th scope="col">Capital Restante</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let fila of preTablaPagos">
                                                <th scope="row">{{fila.codCuota}}</th>
                                                <td>{{formatoFecha(fila.fechaPlanificadaPago)}}</td>
                                                <td>{{fila.capital}}</td>
                                                <td>{{fila.interes}}</td>
                                                <td>{{fila.montoCuota}}</td>
                                                <td>{{fila.capitalRestante}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            
                            
                            <div class="px-4 mt-5">
                                <button type="button" class="btn btn-success mx-1"
                                    (click)="crearCredito()">Generar credito</button>
                                <button type="button" class="btn btn-secondary mx-1" (click)="regresar()">Regresar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>