<div class="container-fluid p-0">
    <div class="row">
    <!-- Navbar -->
    <div class="col-12 px-0" class="borde-ancho">
        <app-navbar></app-navbar>
    </div>
    </div>
    <div class="row m-0">
        <!-- Sidebar -->
        <div class="col-2 p-0 d-flex flex-column" style="height: 84vh;">
        <app-sidebar class="flex-grow-1"></app-sidebar>
    </div>
    <!-- Main Content -->
    
    <div class="col-10 p-0 d-flex">
        <!-- Aquí puedes colocar el contenido principal -->
        <div class="p-4 flex-grow-1" style="background-color: rgba(255, 255, 255, 0.67);">
            <div class="container">
                <div class="container-fluid">

                    <div class="container-fluid">
                        <div class="row title mt-5">
                            <h4>Nuevo Cliente</h4>
                        </div>
                        <div class="row contenido my-3 p-5 rounded-4">
                            <h5>Agregar Persona</h5>
                            <hr>
                            <form (ngSubmit)="crearTipoCliente()">
                                <div class="row">
                                    <div class="col-12">
                                        <select class="form-select" name="tipoPersona" [(ngModel)]="tipoPersona" (change)="onChangeTipoPersona()">
                                            <option value="NAT">Natural</option>
                                            <option value="JUR">Juridico</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="px-4 mt-3 pt-5">
                                    <button type="submit" class="btn btn-success mx-1">Siguiente</button>
                                    <button type="button" class="btn btn-secondary mx-1" routerLink="/clientes">Regresar</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
</div>
