<div class="container-fluid p-0">
    <div class="row">
    <!-- Navbar -->
    <div class="col-12 px-0" class="borde-ancho">
        <app-navbar></app-navbar>
    </div>
    </div>
    <div class="row m-0">
        <!-- Sidebar -->
        <div class="col-2 p-0 d-flex flex-column" style="height: 84vh;">
        <app-sidebar class="flex-grow-1"></app-sidebar>
    </div>
    <!-- Main Content -->
    <div class="scroll-container">
        <div class="scroll-content">
    <div class="col-10 p-0 d-flex">
        <!-- Aquí puedes colocar el contenido principal -->
        <div class="p-4 flex-grow-1" style="background-color: rgba(255, 255, 255, 0.67);">
            <div class="container">
                <div class="container-fluid p-0">
                    <div class="row title mt-5">
                        <h4>Nuevo Cliente</h4>
                    </div>
                    <div class="row contenido my-3 p-5 rounded-4">
                        <h5>Datos del cliente</h5>
                        <hr>
                        <form action="">
                            <div class="form-group">
                                <select class="form-select">
                                    <option value="JUR" selected>Juridico</option>
                                </select>
                                <select class="form-select my-2">
                                    <option selected>RUC</option>
                                </select>
                                <input type="text" class="form-control my-2" placeholder="No. Identificacion" name="identificacion" [(ngModel)]="identificacion">
                                <input type="date" class="form-control my-2" placeholder="Fecha Constitución" name="fechaConstitucion" [(ngModel)]="fechaConstitucion">
                                <input type="text" class="form-control my-2" placeholder="Razon Social" name="apellidos" [(ngModel)]="razonSocial">
                                <input type="text" class="form-control my-2" placeholder="Nombre Comercial" name="nombres" [(ngModel)]="nombreComercial">
                                <div class="row">
    
                                    <div class="col-3">    
                                        <select class="form-select my-2" name="tipoDireccion" [(ngModel)]="tipoDireccion">
                                            <option value="Matriz">Matriz</option>
                                            <option value="Extensión">Extensión</option>
                                        </select>
                                    </div>
                                
                                    <div class="col-3"><input type="text" class="form-control my-2" placeholder="Linea 1" name="linea1" [(ngModel)]="linea1"></div>
                                    <div class="col-3"><input type="text" class="form-control my-2" placeholder="Linea 2" name="linea2" [(ngModel)]="linea2"></div>
                                    <div class="col-3"><input type="text" class="form-control my-2" placeholder="Código Postal" name="codigoPostal" [(ngModel)]="codigoPostal"></div>

                                </div>
                                <input type="text" class="form-control my-2" placeholder="Correo Electronico" name="correoElectronico" [(ngModel)]="correoElectronico">
                                <input type="text" class="form-control my-2" placeholder="Telefono" name="telefono" [(ngModel)]="telefono">
                            </div>
                        </form>
                        <hr class="mt-3">
                        <div class="row">
                            <h5 class="mb-3">Clientes Empresa</h5>
                            <hr>
                            <form (ngSubmit)="buscarCliente()">
                                <div class="form-group">
                                    <select class="form-select" name="tipoIdentificacion" [(ngModel)]="tipoIdentificacion">
                                        <option value="">Tipo de Identificacion</option>
                                        <option value="CED">Cedula</option>
                                        <option value="PAS">Pasaporte</option>
                                    </select>
                                    <div class="row">

                                        <div class="col-10">
                                            <input type="text" class="form-control my-2" name="identificacion" placeholder="No. de identificacion" name="numeroIdentificacion" [(ngModel)]="numeroIdentificacion">
                                        </div>
                                        
                                        <div class="col-2 d-flex align-items-center justify-content-center">
                                            <button type="submit" class="btn btn-success" >Validar</button>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-12">
                                            <input type="text" class="form-control my-1" placeholder="____________" value="{{clienteEncontrado.apellidos}} {{clienteEncontrado.nombres}}" readonly>
                                        </div>

                                        <div class="row">
                                            <div class="col-12  my-1">
                                                <input type="date" class="form-control" name="fechaInicio" [(ngModel)]="fechaInicio" placeholder="Fecha de Inicio">
                                            </div>
                                        </div>

                                        <div class="col-11 mt-1">
                                            <select class="form-select" name="tipoSeleccionado" [(ngModel)]="tipoSeleccionado">
                                                <option value="">Tipo de Relacion</option>
                                                <option value="Represenante Legal">Represenante Legal</option>
                                                <option value="Laboral">Laboral</option>
                                                <option value="Cliente">Cliente</option>
                                                <option value="Proveedor">Proveedor</option>
                                                <option value="Otro">Otro</option>
                                            </select>
                                        </div>                                        
                                        
                                        <div class="col-1 text-center d-flex align-items-center">
                                            <a type="button" class="btn btn-dark" (click)="agregarParticipante()">
                                                <i class="bi bi-plus-lg"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-12 col-md-12 col-sm-12 mt-4">
                                    <div class="col">
                                        <table id="tbParticipante" class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                <th scope="col"></th>
                                                <th scope="col">Relacion</th>
                                                <th scope="col">Tipo Identificacion</th>
                                                <th scope="col">Nro. Identificacion</th>
                                                <th scope="col">Nombres</th>
                                                <th scope="col">Fecha Inicio Rel.</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let participante of participantes; let i = index">
                                                <td>{{ i + 1 }}</td>
                                                <td>{{ participante.tipoRelacion }}</td>
                                                <td>{{ participante.tipoIdentificacion }}</td>
                                                <td>{{ participante.cedula }}</td>
                                                <td>{{ participante.nombres }}</td>
                                                <td>{{ participante.fechaInicio }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="px-4 mt-3">
                            <button type="button" class="btn btn-success mx-1" (click)="enviarDatosEmpresa()">
                                <i class="bi bi-plus-circle"></i> Crear
                            </button>
                            <button type="button" class="btn btn-secondary mx-1" routerLink="/clientes/crear">Regresar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>

    </div>
</div>
