/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
  --bs-primary: #000000;
  --bs-btn-bg: #000000;
}

body {
  font-family: 'Montserrat', sans-serif;
}