
.borde-ancho {
    border-bottom: 5px solid #ccc; 
}

h4, h5{
    color: #000000;
}
.title{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.contenido {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 80%;
}
input[type=text], select{
    background-color: #ECECEC;
}
button {
    float: right;
    width: 150px;
}

.borde-ancho {
    border-bottom: 5px solid #ccc; 
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #EDF4F6; /* Cambia el color de fondo a gris (#EDF4F6) */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000; /* Cambia el color del ícono a negro (#000) */
    font-size: 24px; /* Cambia el tamaño del ícono */
}
.scroll-container {
    width: 83%;
    height: 600px;
    overflow-y: hidden;
    overflow-y: scroll;
  }
  
  .scroll-content {
    width: 100%;
    height: 820px;
  }
  
  .container-fluid.p-0 {
    overflow-x: hidden;
  }
  .scroll-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.67);
  }
  
  .scroll-content .p-4.flex-grow-1 {
    width: 100%;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.67);
  }