<div class="container-fluid p-0">
    <div class="row">
        <!-- Navbar -->
        <div class="col-12 px-0" class="borde-ancho">
            <app-navbar></app-navbar>
        </div>
    </div>

    <div class="row m-0" style="background-color: #0E3A5D;">
        <!-- Sidebar -->
        <div class="sidebar-container col-3 p-3 d-flex flex-column" style="height: 86.9vh;">
            <app-sidebar class="flex-grow-1"></app-sidebar>
        </div>
    
        <!-- Main Content -->

        <div class="col-9 p-3 d-flex">
            
            <!-- Aquí puedes colocar el contenido principal -->
            <div class="p-4 flex-grow-1 rounded" style="background-color: rgba(255, 255, 255, 0.67);">
                
                <h1 class="ms-5 mt-5" style="color: #000000; font-size: 24px; font-weight: bold; padding-left:100px;">Busqueda de empresas</h1>
                <div class="container d-flex flex-column align-items-center mt-5">
                    <div class="d-flex justify-content-center">
                        
                        <div class="white-box-custom bigger-box">
                            <a href="/clientes/crear" style="display: block; text-decoration: none; color: inherit;">
                                <div class="row">
                                    <img class="logo img-fluid pt-3" src="../../../assets/img/clientes/crear.png" alt="Logo">
                                </div>
                                <div class="row text-center pt-4" style="color: #000000; font-size: 18px; font-weight: bold;">
                                    <a>Crear Nuevo Cliente</a>
                                </div>   
                            </a>
                        </div>                        
                        
                        <div class="white-box-custom bigger-box">
                            <a href="/clientes/consultas" style="display: block; text-decoration: none; color: inherit;">
                                <div class="row">
                                    <img class="logo img-fluid pt-3" src="../../../assets/img/clientes/consultas.png" alt="Logo">
                                </div>
                                <div class="row text-center pt-4" style="color: #000000; font-size: 18px; font-weight: bold;">
                                    <p>Consultas</p>
                                </div>
                            </a>   
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
