<div class="container-fluid p-0">
    <div class="row">
        <!-- Navbar -->
        <div class="col-12 px-0" class="borde-ancho">
            <app-navbar></app-navbar>
        </div>
    </div>

    <div class="row m-0" style="background-color: #0E3A5D;">
        <!-- Sidebar -->
        <div class="sidebar-container col-3 p-3 d-flex flex-column" style="height: 86.9vh;">
            <app-sidebar class="flex-grow-1"></app-sidebar>
        </div>

        <!-- Main Content -->

        <div class="col-9 p-3 d-flex">

            <!-- Aquí puedes colocar el contenido principal -->
            <div class="p-4 flex-grow-1 rounded" style="background-color: rgba(255, 255, 255, 0.67);">

                <h1 class="ms-5 mt-2" style="color: #0000006e; font-size: 24px; font-weight: bold; padding-left:100px;">
                    Recaudos > Recaudos en ventanilla</h1>

                <div class="row contenido my-3 p-5 rounded-4">
                    <h5>Busqueda de Empresas</h5>
                    <hr>
                    <form action="">
                        <div class="form-group">
                            

                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control my-2" placeholder="Ingrese el Nombre de la Empresa"
                                        name="numero_identificacion">
                                   
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    <button type="button" class="btn btn-success">Buscar</button>
                                </div>
                            </div>
                            <hr>
                            <input type="text" class="form-control my-4" placeholder="____" name="nombres"
                                value="me xsjkd dkddm" readonly>
                            <select class="form-select" name="cuentaP">
                                <option value="asdad">Seleccione una cuenta</option>

                                <option value="das">Seleccione una cuenta</option>
                                <option value="adasd">Seleccione una cuenta</option>

                            </select>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>